{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% if short %}
    {% set at = config_item.get_value(dispenser_config.get(taskid,{})) %}
    {{_("Accessibility")}} :
    <span class="accessibility accessibility-never" {% if not at.is_never_accessible() %} style="display: none;" {% endif %}>{{_("Never")}}</span>
    <span class="accessibility accessibility-always" {% if not at.is_always_accessible() %} style="display: none;" {% endif %}>{{_("Always")}}</span>
    <span class="accessibility accessibility-custom" {% if at.is_always_accessible() or at.is_never_accessible() %} style="display: none;" {% endif %}>
        {{ _("Custom, from: {} to: {}").format('<span class="accessibility-custom-start">' + str(at.get_std_start_date()) + '</span>', '<span class="accessibility-custom-end">' + at.get_std_end_date() + '</span>') | safe}}
        (<span class="accessibility-custom-soft-end">{{ at.get_std_soft_end_date() }}</span>)
    </span>
{% else %}

<div class="mt-3">{{_("Accessibility")}}</div>
<div class="form-group row accessibility">

    <div class="col-md-12">
        <label>
            <input class="accessibility {% if grouped %}accessibility_grouped{% endif %}" type="radio" value="false" name="accessibility" />
            {{_("Never")}}
        </label>
    </div>
    <div class="col-md-12">
        <label>
            <input class="accessibility {% if grouped %}accessibility_grouped{% endif %}" type="radio" value="true" name="accessibility" />
            {{_("Always")}}
        </label>
    </div>
    <div class="col-md-12 row">
        <div class="col-xs-12 col-lg-3">
            <label class="control-label">
                <input class="accessibility {% if grouped %}accessibility_grouped{% endif %}" type="radio" value="custom" name="accessibility"/>
                {%set text = _("Custom, from: {} to: {}").split("{}") %}
                {{ text[0] }}</label>
        </div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class='input-group date_picker {% if grouped %}date_picker_grouped{% endif %}' id='accessibility_start_picker{% if grouped %}_grouped{% endif %}' data-target-input="#accessibility_start{% if grouped %}_grouped{% endif %}" data-target-span="accessibility-custom-start">
                <input data-target="#accessibility_start_picker{% if grouped %}_grouped{% endif %}" id="accessibility_start{% if grouped %}_grouped{% endif %}" data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                <div class="input-group-append" data-target="#accessibility_start_picker{% if grouped %}_grouped{% endif %}" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label">{{text[1]}}</label></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class='input-group date_picker {% if grouped %}date_picker_grouped{% endif %}' id='accessibility_end_picker{% if grouped %}_grouped{% endif %}' data-target-input="#accessibility_end{% if grouped %}_grouped{% endif %}" data-target-span="accessibility-custom-end">
                <input data-target='#accessibility_end_picker{% if grouped %}_grouped{% endif %}' id="accessibility_end{% if grouped %}_grouped{% endif %}" data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                <div class="input-group-append" data-target="#accessibility_end_picker{% if grouped %}_grouped{% endif %}" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row">
        <!-- Padding -->
        <div class="col-xs-12 col-lg-3"></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4"></div>
        <!-- End of padding -->
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label" data-toggle="tooltip" data-placement="top" title="{{ _('Students can still submit after this date') }}">{{ _("Soft Deadline") }} <sup>?</sup></label></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class="form-group">
                <div class='input-group date_picker {% if grouped %}date_picker_grouped{% endif %}' id="accessibility_soft_end_picker{% if grouped %}_grouped{% endif %}" data-target-input="#accessibility_soft_end{% if grouped %}_grouped{% endif %}" data-target-span="accessibility-custom-soft-end">
                        <input data-target="#accessibility_soft_end_picker{% if grouped %}_grouped{% endif %}" id="accessibility_soft_end{% if grouped %}_grouped{% endif %}" data-date-format="YYYY-MM-DD HH:mm:ss"  placeholder="2014-06-29 10:00" type="text" class="form-control datetimepicker-input" />
                        <div class="input-group-append" data-target="#accessibility_soft_end_picker{% if grouped %}_grouped{% endif %}" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
           $('.date_picker').datetimepicker({locale: '{{user_manager.session_language()}}', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});
        });
    </script>
</div>

{% if not grouped %}
<script>
    // Feed modal
    $("#edit_task_modal").on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let taskid = button.data('taskid');
        if (!("accessibility" in dispenser_config[taskid]))
            return;
        let accessibility = dispenser_config[taskid]["accessibility"];
        let value = 'custom';

        if (accessibility === true) {
            value = 'true';
        } else if (accessibility === false) {
            value = 'false';
        } else {
            let splitted_values = accessibility.split("/");
            $(this).find("#accessibility_start").val(splitted_values[0]);
            $(this).find("#accessibility_soft_end").val(splitted_values[1]);
            $(this).find("#accessibility_end").val(splitted_values[2]);
        }

        $(this).find(".accessibility input[value=" + value + "]").prop("checked", true);
    });

    // Catch modals changes
    $(".accessibility input").change(function () {
        let name = $(this).attr("name");
        let value = $(this).val();

        let grouped = $(this).hasClass("accessibility_grouped");
        let tasks = grouped ? $(".grouped-actions-task:checked") : $("#edit_task_modal");

        tasks.each(function () {
            let taskid = $(this).data("taskid");
            if(name == "accessibility") {
                $("#task_" + taskid + " .accessibility").hide();
                if(value == "true") {
                    $("#task_" + taskid + " .accessibility-always").show();
                    dispenser_config[taskid]["accessibility"] = true;
                } else if(value== "false") {
                    $("#task_" + taskid + " .accessibility-never").show();
                    dispenser_config[taskid]["accessibility"] = false;
                } else {
                    $("#task_" + taskid + " .accessibility-custom").show();
                    dispenser_update_task_accessibility(grouped, taskid);
                }
            } else
                $(this).parent().trigger("change.datetimepicker");
        });
    });

    // Catch time picker changes
    $('.date_picker').on("change.datetimepicker", function () {
        let targetInput = $(this).data('target-input');
        let targetSpan = $(this).data('target-span');
        let val = $(targetInput).val();

        let grouped = $(this).hasClass("date_picker_grouped");
        let tasks = grouped ? $(".grouped-actions-task:checked") : $("#edit_task_modal");

        tasks.each(function () {
            let taskid = $(this).data("taskid");
            $("#task_" + $(this).data("taskid") + " ." + targetSpan).empty().append(val);
            dispenser_update_task_accessibility(grouped, taskid);
        });
    });

    function dispenser_update_task_accessibility(grouped, taskid) {
        let start = $("#accessibility_start" + (grouped ? "_grouped" : "")).val();
        let soft_end = $("#accessibility_soft_end" + (grouped ? "_grouped" : "")).val();
        let end = $("#accessibility_end" + (grouped ? "_grouped" : "")).val();
        dispenser_config[taskid]["accessibility"] = start + "/" + soft_end + "/" + end;
    }
</script>
{% endif %}

{% endif %}
